@import url('https://fonts.googleapsis.com/css?family=Poppins:200,300,400,500,600,700,800,9008display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    font-size: 30px;
}
p
{
    font-weight: 100;
    font-size: 30px;
    color: #111;
}
h1
{
    font-size: 80px;
}
.video
{
    align-content: center;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images_team_members/img.jpeg);
}
.banner .content
{
    max-width: 900px;
    text-align: center;
}
.banner .content h2
{
    font-size: 5em;
    color: rgb(173, 22, 22);
}
.banner .content p
{
    font-size: 1em;
    color: rgb(182, 12, 12);
}
.btn
{
    font-size: 1em;
    color: rgb(143, 18, 18);
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform:uppercase;
    text-decoration: none;
    Letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover
{
Letter-spacing: 6px;
}
header
{
    position: fixed;
    top: 0;
    Left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5%;
}
header.sticky
{
    background: rgb(0, 0, 0);
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo
{
    color: rgb(14, 6, 6);
    font-weight:700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo
{
   color: rgb(177, 37, 37);
}
header .logo span
{
    color: #ff0157;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    List-style: none;
    margin-left: 30px;
}
header .navigation li a
{
    text-decoration:overline;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

header.sticky .navigation li a 
{
    color: #ffffff;
}
header .navigation li a:hover
{
    color: #0e033f;
}
section
{
    padding: 100px;
}
section .Gozal
{
    display: flex;
}
section .Gozal p
{
    padding-right: 20px;
}
section .Nijat
{
    display: flex;
}
section .Nijat p
{
    padding-right: 20px;
}
section .Suleyman
{
    display: flex;
}
section .Suleyman p
{
    padding-right: 20px;
}
section .Latif
{
    display: flex;
}
section .Latif p
{
    padding-right: 20px;
}
.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50
{
    position: relative;
    width: 48%;
}
.titleText
{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span
{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col150 .hw3-file
{
    position: relative;
    width: 100%;
    /*min-height: 300px;*/
    height: 100%
}
.row .col150 .hw3-file img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}